@media only screen and (min-width: 32.5em) {
    main {
        font-size: large;
        /* margin-left: .5in; */
        /* margin-right: .5in; */
        width: fit-content;
    }
    footer, header {
        padding: 5px;
    }
    ul {
        padding: 0;
    }
    .art {
        width: 40%;
    }
    .flex {
        display: flex;
    }
    .flex li {
        display: block;
        flex: 1 1 100%;
        padding: 0;
    }
    .flex li:first-child {
        display: none;
    }
    .weather-summary {
        left: 150px;
    }
    #article {
        flex-direction: row;
    }
    #cloud {
        float: left;
        width: 100px;
        padding-left: 3em;
        padding-top: 8px;
    }
    #contact {
        flex-direction: row;
    }
    #fiveDay {
        display: block;
    }
    #map {
        width: 40%;
        display: flex;
    }
    #summary {
        width: 100%;
    }
    #table {
        width: 100%;
    }
}