address {
    width: 100%;
}
aside {
    font-family: 'Quicksand', sans-serif;
    background-color: #01baef;
    width: 100%;
    text-align: center;
    padding: 0 auto;
}
body  {
    background-color: #fbfbff;
}
header, footer {
    background-color: #b80c09;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    display: block;
}
html {
    justify-content: center;
    background-color: #0b4f6c;
}
main {
    margin: 0 auto;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
nav {
    font-family: 'Quicksand', sans-serif;
    background-color: #01baef;
    padding: 3px;
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
ul {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: black;
    background-color: #01baef;
    padding-left: 10px;
    padding-right: 10px;
}
ul a:visited {
    /* color: #0b4f6c; */
}
ul a:hover {
    background-color: #0b4f6c;
    color: #fbfbff;
}
.active {
    background-color: #b80c09;
    color: #fbfbff;
}
.event {
    background-color: #0b4f6c;
    color: #fbfbff;
}
.flex {
    list-style: none;
    text-align: center;
    padding: 0;
}
.flex li {
    display: none;
}
.flex li:first-child {
    display: block;
}
.resp li {
    display: block;
}
.respon {
    top: 450px;
}
.weather-summary {
    position: absolute;
    top: 400px;
    left: 25px;
    background-color: white;
    opacity: .7;
    padding: 10px;
}
#art {
    width: 100%;
}
#article {
    background-color: #b80c09;
    display: flex;
    flex-direction: column;
}
#cloud {
    width: 50px;
    float: left;
    padding-top: 15px;
    padding-left: 8px;
}
#contact {
    background-color: #01baef;
    display: flex;
    flex-direction: column;
}
#fiveDay {
    background-color: #01baef;
    display: none;
}
#ham {
    display: flex
}
#hero {
    background-color: #b80c09;
}
#heroimg {
    max-width:100%;
    max-height:100%;
}
#map {
    width: 100%;
    display: none;
}
#summary {
    width: 100%;
}
#title {
    padding: 8px;
}