body {
    width: 800px;
    align-items: center;
}
header {
    color: white;
    background-color: maroon;
    font-family: sans-serif;
    padding-top: 18px;
    padding-bottom: 18px;
}
img {
    float: right;
    width: 150px;
}