html {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
body {
    width: 800px;
    align-items: center;
}
header {
    color: white;
    background-color: maroon;
    /* font-family: sans-serif; */
    padding-top: 18px;
    padding-bottom: 18px;
}
ul {
    font-family: sans-serif;
    
}
footer {
    color: white;
    background-color: maroon;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
}
img {
    width: 180px;
    padding-right: 5px;
}
